.info{
    margin:10px;
}
.title img{
    width:150px;
    padding-right:20px;
    
}
.foot
{
    background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/retina_wood.png");
}
.pic2 img{
    height: 310px;
}
.ft{
    font-family: 'Russo One', sans-serif;

}

.active{
    font-family: 'Russo One', sans-serif;

}